<h1><%= @restaurant.name %></h1>
<h3>Address: <%= @restaurant.address %></h3>
<h3>Rating: <%= @restaurant.rating %></h3>
<h3>Chef: <%= @restaurant.chef.name %></h3>
<%= link_to "ðŸ› ï¸", edit_restaurant_path(@restaurant) %>
<%= link_to "â˜ ï¸", restaurant_path(@restaurant), data: {turbo_method: :delete} %>

<h3>Kitchen Type: <%= create_emoji(@restaurant.kitchen_type) %></h3>

<%= link_to "More info about Chef", chef_info_restaurant_path(@restaurant.chef) %>

<h2>Review</h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<%  end %>

<div data-controller="formhandler"  data-formhandler-chef-value="<%= @restaurant.chef.name %>">
  <button class="btn btn-primary" data-action="click->formhandler#toggler">Write Review</button>
  <div class="d-none" data-formhandler-target="formwrap">
    <%= form_with [@restaurant, @review] do |f| %>
    <%= form.label :content, "Search for:" %>
    <%= form.text_field :content %>
    <%= form.submit "Search" %>
    <% end %>
  </div>

</div>
