<h1>Hello world</h1>

<h2>
  <% @restaurants.each do |rest| %>
    <p><%= rest.name %></p>
    <p><%= rest.address %></p>
    <p>ChefName: <%= rest.chef&.name %></p>
    <%= link_to "Restaurant", restaurant_path(rest) %>
  <% end %>
</h2>

<p><%= link_to "New Restaurant", new_restaurant_path%></p>




